In [58]:
# load pandas for data analysis
import pandas as pd

# load dataset
parking_violations = pd.read_csv('../data/sample/Parking_Violations_Issued_in_August_2018.csv')

In [59]:
# head of dataset
parking_violations.head()

,OBJECTID,ISSUE_DATE,ISSUE_TIME,ISSUING_AGENCY_CODE,ISSUING_AGENCY_NAME,ISSUING_AGENCY_SHORT,VIOLATION_CODE,VIOLATION_PROC_DESC,LOCATION,PLATE_STATE,...,PENALTY_2,PENALTY_3,PENALTY_4,PENALTY_5,XCOORD,YCOORD,LATITUDE,LONGITUDE,MAR_ID,GIS_LAST_MOD_DTTM
0,290490,2018/08/24 04:00:00+00,01:44 AM,7,METROPOLITAN POLICE DPT-DISTRICT 7,MPD-7D,P344,VEHICLE ON PRIVATE/PUBLIC PROPERTY WITHOUT CON...,4205 4TH ST SE,,...,NaN,1.0,NaN,NaN,399920.0,129047.0,38.829,-77.001,147401.0,2019/05/29 04:16:08+00
1,290491,2018/08/24 04:00:00+00,01:46 PM,7,METROPOLITAN POLICE DPT-DISTRICT 7,MPD-7D,P344,VEHICLE ON PRIVATE/PUBLIC PROPERTY WITHOUT CON...,4205 4TH ST SE,,...,NaN,NaN,NaN,NaN,399920.0,129047.0,38.829,-77.001,147401.0,2019/05/29 04:16:08+00
2,290492,2018/08/24 04:00:00+00,02:20 AM,7,METROPOLITAN POLICE DPT-DISTRICT 7,MPD-7D,P344,VEHICLE ON PRIVATE/PUBLIC PROPERTY WITHOUT CON...,4329 4TH ST SE,,...,NaN,1.0,NaN,NaN,399867.0,128923.0,38.828,-77.002,147406.0,2019/05/29 04:16:08+00
3,290493,2018/08/24 04:00:00+00,02:25 AM,7,METROPOLITAN POLICE DPT-DISTRICT 7,MPD-7D,P344,VEHICLE ON PRIVATE/PUBLIC PROPERTY WITHOUT CON...,4221 4TH ST SE,,...,NaN,1.0,NaN,NaN,399923.0,128963.0,38.828,-77.001,147405.0,2019/05/29 04:16:08+00
4,290494,2018/08/24 04:00:00+00,03:20 AM,7,METROPOLITAN POLICE DPT-DISTRICT 7,MPD-7D,P344,VEHICLE ON PRIVATE/PUBLIC PROPERTY WITHOUT CON...,4337 4TH ST SE,,...,NaN,NaN,NaN,NaN,399860.0,128878.0,38.828,-77.002,147392.0,2019/05/29 04:16:08+00

In [60]:
# dataset info
parking_violations.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6731 entries, 0 to 6730
Data columns (total 29 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   OBJECTID              6731 non-null   int64
 1   ISSUE_DATE            6731 non-null   object
 2   ISSUE_TIME            6727 non-null   object
 3   ISSUING_AGENCY_CODE   6731 non-null   int64
 4   ISSUING_AGENCY_NAME   6731 non-null   object
 5   ISSUING_AGENCY_SHORT  6731 non-null   object
 6   VIOLATION_CODE        6731 non-null   object
 7   VIOLATION_PROC_DESC   6621 non-null   object
 8   LOCATION              6726 non-null   object
 9   PLATE_STATE           6730 non-null   object
 10  VEHICLE_TYPE          0 non-null      float64
 11  MULTI_OWNER_NUMBER    413 non-null    float64
 12  DISPOSITION_CODE      3032 non-null   float64
 13  DISPOSITION_TYPE      6730 non-null   object
 14  DISPOSITION_DESC      3032 non-null   object
 15  DISPOSITION_DATE      3032 non-null   object
 16  FINE_AMOUNT           6600 non-null   float64
 17  TOTAL_PAID            6730 non-null   float64
 18  PENALTY_1             2766 non-null   float64
 19  PENALTY_2             0 non-null      float64
 20  PENALTY_3             1348 non-null   float64
 21  PENALTY_4             0 non-null      float64
 22  PENALTY_5             0 non-null      float64
 23  XCOORD                6380 non-null   float64
 24  YCOORD                6380 non-null   float64
 25  LATITUDE              6380 non-null   float64
 26  LONGITUDE             6380 non-null   float64
 27  MAR_ID                6380 non-null   float64
 28  GIS_LAST_MOD_DTTM     6730 non-null   object
dtypes: float64(15), int64(2), object(12)
memory usage: 1.5+ MB

## Observations

Null fields:
* VEHICLE_TYPE
* PENALTY_1
* PENALTY_2
* PENALTY_3
* PENALTY_4
* PENALTY_5

OBJECTID is a primary key and not needed

Disposition fields - determine significance of DISPOSITION_CODE, DISPOSITION_TYPE, DISPOSITION_DESC, DISPOSITION_DATE
    
Date fields that require additional review:
* ISSUE_DATE - format
* GIS_LAST_MOD_DTTM - format, determine unique values and overall relevance

In [61]:
# drop null columns
parking_violations.drop(['VEHICLE_TYPE', 'PENALTY_1', 'PENALTY_2', 'PENALTY_3', 'PENALTY_4', 'PENALTY_5'], axis=1, inplace=True)

# drop OBJECTID
parking_violations.drop(['OBJECTID'], axis=1, inplace=True)

In [62]:
# get values for disposition fields
parking_violations['DISPOSITION_DESC'].unique()

array(['DEEMED LIABLE', nan, 'RECONSIDER DENIED', 'DISM NOI LATE HEARG',
       'DISM NOI SUBM LATE', 'DISMISSED NO CASE', 'LIABLE',
       'DISM MAKE MISMATCH', 'DISMISSED ON MERIT', 'DISM STOLEN RPT PROV',
       'LIABLE PENALTY DISM', 'LIABLE FINE REDUCED', 'DISM NO VIOL CODE',
       'DISM NO SIDE OF STR', 'DISM NO QUADRANT', 'DISM ILLEGIBLE DATA',
       'RECONSIDER GRANTED', 'DISM NO LICNSE STATE', 'CONTINUED',
       'CCU SETTLEMENT', 'DISM DATA ENTRY ERR', 'VOID REQUEST BY DPW',
       'PARK MOBILE RECEIPT', 'LIABLE METER OUTAGE',
       'DISM ROSA EXEMPTION', 'REMOVE PENALTY 1&2', 'DISM NO VEHCL MAKE',
       'CONTINUE ROSA', 'EVIDENCE PER CODE', 'RECONDENY PENDISMIS',
       'LIABLE FL TO PAY MET', 'APPEAL BACKOUT', 'DISM METER OUTAGE',
       'APL CANCEL FILING'], dtype=object)

In [63]:
# dispositions are dismissed tickets
# remove records with dispositions
parking_violations = parking_violations[parking_violations['DISPOSITION_DESC'].isna()]

# drop disposition columns
parking_violations.drop(['DISPOSITION_CODE', 'DISPOSITION_TYPE', 'DISPOSITION_DESC', 'DISPOSITION_DATE'], axis=1, inplace=True)

In [64]:
parking_violations['MULTI_OWNER_NUMBER'].unique()

array([           nan, 9.50368779e+08, 2.07110000e+07, 9.50190963e+08,
       9.50336594e+08, 1.06380000e+07, 1.06070000e+07, 9.50314838e+08,
       9.50345131e+08, 2.06920000e+07, 9.50282861e+08, 9.50343162e+08,
       9.50013542e+08, 9.50002858e+08, 9.50274200e+08, 9.50064448e+08,
       9.50337829e+08, 9.50292349e+08, 9.50233496e+08, 9.50307813e+08,
       9.50148795e+08, 2.06790000e+07, 1.19090000e+07, 1.10080000e+07,
       9.50333424e+08, 1.06290000e+07, 9.50335403e+08, 1.06850000e+07,
       1.17690000e+07, 1.13020000e+07, 1.17740000e+07, 1.07270000e+07,
       1.18040000e+07, 9.50275022e+08, 1.10210000e+07, 1.13330000e+07,
       9.50188674e+08, 1.12400000e+07, 1.12510000e+07, 9.50356041e+08,
       1.12720000e+07, 9.50237499e+08, 1.08570000e+07, 9.50067561e+08,
       1.10160000e+07, 1.10120000e+07, 9.50388039e+08, 1.19060000e+07,
       9.50252116e+08, 9.50336836e+08, 1.13120000e+07, 9.50191787e+08,
       9.50003821e+08, 9.50382532e+08, 9.50295685e+08, 9.50065237e+08,
       9.50315053e+08, 9.50290647e+08, 9.50290152e+08, 9.50033892e+08,
       9.50300872e+08, 9.50276357e+08, 1.21010000e+07, 9.50352651e+08,
       1.17510000e+07, 1.11520000e+07, 1.10680000e+07, 1.17540000e+07,
       1.18030000e+07, 9.50153295e+08, 9.50320945e+08, 9.50342313e+08,
       1.09320000e+07, 1.06610000e+07, 9.50356303e+08, 9.50341428e+08,
       9.50164513e+08, 9.50343450e+08, 9.50196239e+08, 9.50345209e+08,
       9.50381419e+08, 9.50163568e+08, 9.50104232e+08, 1.06260000e+07,
       9.50092164e+08, 9.50377456e+08, 9.50289861e+08, 9.50309615e+08,
       9.50182381e+08, 9.50363282e+08, 9.50327277e+08, 9.50295760e+08,
       9.50009099e+08, 9.50029855e+08, 9.50121418e+08, 1.11670000e+07,
       9.50319251e+08, 1.10340000e+07, 9.50242426e+08, 9.50332699e+08,
       1.17670000e+07, 9.50104604e+08, 9.50061747e+08, 9.50275312e+08,
       9.50331692e+08, 9.50309538e+08, 9.50012847e+08, 9.50179464e+08,
       9.50308295e+08, 9.50252031e+08, 9.50365299e+08, 9.50291969e+08,
       9.50312275e+08, 9.50337056e+08, 9.50203352e+08, 9.50339872e+08,
       9.50160845e+08, 9.50172755e+08, 9.50167917e+08, 9.50347425e+08])

In [65]:
parking_violations.drop('MULTI_OWNER_NUMBER', axis=1, inplace=True)

In [66]:
parking_violations['GIS_LAST_MOD_DTTM'].unique()

array(['2019/05/29 04:16:08+00', nan], dtype=object)

In [67]:
# column has a single value, drop it
parking_violations.drop('GIS_LAST_MOD_DTTM', axis=1, inplace=True)

In [68]:
parking_violations.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3699 entries, 1 to 6730
Data columns (total 16 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   ISSUE_DATE            3699 non-null   object
 1   ISSUE_TIME            3699 non-null   object
 2   ISSUING_AGENCY_CODE   3699 non-null   int64
 3   ISSUING_AGENCY_NAME   3699 non-null   object
 4   ISSUING_AGENCY_SHORT  3699 non-null   object
 5   VIOLATION_CODE        3699 non-null   object
 6   VIOLATION_PROC_DESC   3589 non-null   object
 7   LOCATION              3696 non-null   object
 8   PLATE_STATE           3698 non-null   object
 9   FINE_AMOUNT           3568 non-null   float64
 10  TOTAL_PAID            3698 non-null   float64
 11  XCOORD                3531 non-null   float64
 12  YCOORD                3531 non-null   float64
 13  LATITUDE              3531 non-null   float64
 14  LONGITUDE             3531 non-null   float64
 15  MAR_ID                3531 non-null   float64
dtypes: float64(7), int64(1), object(8)
memory usage: 491.3+ KB

In [69]:
parking_violations['PLATE_STATE'].unique()

array([' ', 'VA', 'MD', nan], dtype=object)

In [70]:
parking_violations['VIOLATION_CODE'].unique()

array(['P344', 'P014', 'P269', 'P170', 'P259', 'P039', 'P002', 'P036',
       'P007', 'P302', 'P304', 'P050', 'P055', 'P360', 'P041', 'P012',
       'P288', 'P159', 'P046', 'P059', 'P429', 'P013', 'P011', 'P031',
       'P045', 'P365', 'P428', 'P047', 'P001', 'P057', 'P332', 'P020',
       'P015', 'P303', 'NO VIOL', 'P316', 'P318', 'P029', 'P025', 'P024',
       'P168', 'P198', 'P334', 'P322', 'P034', 'P005', 'P017', 'P270',
       'P023', 'P004', 'P042', 'P346', 'P056', 'P003', 'P417', 'P206',
       'P386', 'P173', 'P113', 'P076', 'P172', 'P035', 'P037', 'P112',
       'P281', 'P199', 'P285', 'P307', 'P280', 'P430', 'P216', 'P010',
       'P287', 'P385', 'P022', 'P271', 'P320', 'P282', 'P278', 'P043',
       'P054', 'P111', 'P306', 'P1'], dtype=object)

In [71]:
parking_violations['FINE_AMOUNT'].unique()

array([250.,  nan,  50., 100.,  25.,  30., 150.,  20.,  60., 500.,  75.,
        35.,  45.,  65.])

In [72]:
parking_violations[parking_violations['LATITUDE'].isna()]

,ISSUE_DATE,ISSUE_TIME,ISSUING_AGENCY_CODE,ISSUING_AGENCY_NAME,ISSUING_AGENCY_SHORT,VIOLATION_CODE,VIOLATION_PROC_DESC,LOCATION,PLATE_STATE,FINE_AMOUNT,TOTAL_PAID,XCOORD,YCOORD,LATITUDE,LONGITUDE,MAR_ID
11,2018/08/23 04:00:00+00,08:56 AM,59,US. BUREAU OF ENGRAVING AND PRINTNG,BEP,P269,NO STANDING ANYTIME,400 14 & MAINAV SW,,50.0,100.0,NaN,NaN,NaN,NaN,NaN
29,2018/08/13 04:00:00+00,04:18 PM,59,US. BUREAU OF ENGRAVING AND PRINTNG,BEP,P259,NO STOPPING OR STANDING IN PM RUSH HOUR ZONE,13TH/C ST SW,,100.0,100.0,NaN,NaN,NaN,NaN,NaN
30,2018/08/13 04:00:00+00,04:34 PM,59,US. BUREAU OF ENGRAVING AND PRINTNG,BEP,P259,NO STOPPING OR STANDING IN PM RUSH HOUR ZONE,14TH/C ST SW,,100.0,100.0,NaN,NaN,NaN,NaN,NaN
31,2018/08/13 04:00:00+00,04:37 PM,59,US. BUREAU OF ENGRAVING AND PRINTNG,BEP,P259,NO STOPPING OR STANDING IN PM RUSH HOUR ZONE,14TH/C ST SW,,100.0,100.0,NaN,NaN,NaN,NaN,NaN
63,2018/08/05 04:00:00+00,12:22 PM,57,METRO POLICE,MTP,P007,PARK IN A BUS ZONE,1100 11 ST N NW,,50.0,50.0,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6262,2018/08/13 04:00:00+00,12:28 PM,15,DEPARTMENT OF PUBLIC WORKS,DPW,P012,DISOBEYING OFFICIAL SIGN,300 BLOCK L'ENFANT PLZ SW WEST *,,30.0,30.0,NaN,NaN,NaN,NaN,NaN
6271,2018/08/14 04:00:00+00,09:10 AM,15,DEPARTMENT OF PUBLIC WORKS,DPW,P039,PARK AT EXPIRED METER,300 BLOCK L'ENFANT PLZ SW WEST *,,30.0,30.0,NaN,NaN,NaN,NaN,NaN
6277,2018/08/14 04:00:00+00,11:05 AM,15,DEPARTMENT OF PUBLIC WORKS,DPW,P012,DISOBEYING OFFICIAL SIGN,300 BLOCK L'ENFANT PLZ SW EAST *,,30.0,30.0,NaN,NaN,NaN,NaN,NaN
6440,2018/08/17 04:00:00+00,11:18 AM,15,DEPARTMENT OF PUBLIC WORKS,DPW,P170,FAILURE TO DISPLAY CURRENT TAGS,3500 BLOCK W ST NW SOUTH SIDE,,100.0,100.0,NaN,NaN,NaN,NaN,NaN
6730,2018/08/22 04:00:00+00,11:19 AM,15,DEPARTMENT OF PUBLIC WORKS,DPW,P1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [73]:
# resolve date fields
from dateutil.parser import parse


def format_date(date_str):
    return parse(date_str).date()


def format_time(time_str):
    return parse(time_str).time()

In [74]:
parking_violations['FORMAT_DATE'] = parking_violations.apply(lambda x: format_date(x['ISSUE_DATE']), axis=1)

In [75]:
parking_violations.dropna(subset=['ISSUE_TIME'], inplace=True)

In [76]:
parking_violations['FORMAT_TIME'] = parking_violations.apply(lambda x: format_time(x['ISSUE_TIME']), axis=1)

In [77]:
parking_violations.head()

,ISSUE_DATE,ISSUE_TIME,ISSUING_AGENCY_CODE,ISSUING_AGENCY_NAME,ISSUING_AGENCY_SHORT,VIOLATION_CODE,VIOLATION_PROC_DESC,LOCATION,PLATE_STATE,FINE_AMOUNT,TOTAL_PAID,XCOORD,YCOORD,LATITUDE,LONGITUDE,MAR_ID,FORMAT_DATE,FORMAT_TIME
1,2018/08/24 04:00:00+00,01:46 PM,7,METROPOLITAN POLICE DPT-DISTRICT 7,MPD-7D,P344,VEHICLE ON PRIVATE/PUBLIC PROPERTY WITHOUT CON...,4205 4TH ST SE,,250.0,250.0,399920.0,129047.0,38.829,-77.001,147401.0,2018-08-24,13:46:00
9,2018/08/09 04:00:00+00,07:13 AM,25,SPECIAL OPERATION DIV & TRAFFIC DIV,MPD-SOD,P014,EMERGENCY NO PARKING,700 F ST NW,,NaN,0.0,398051.0,136571.0,38.897,-77.022,301590.0,2018-08-09,07:13:00
11,2018/08/23 04:00:00+00,08:56 AM,59,US. BUREAU OF ENGRAVING AND PRINTNG,BEP,P269,NO STANDING ANYTIME,400 14 & MAINAV SW,,50.0,100.0,NaN,NaN,NaN,NaN,NaN,2018-08-23,08:56:00
14,2018/08/26 04:00:00+00,08:55 AM,59,US. BUREAU OF ENGRAVING AND PRINTNG,BEP,P170,FAILURE TO DISPLAY CURRENT TAGS,1200 BLK D ST SW,,100.0,100.0,397495.0,135237.0,38.885,-77.029,803862.0,2018-08-26,08:55:00
20,2018/08/07 04:00:00+00,02:45 AM,2,METROPOLITAN POLICE DPT-DISTRICT 2,MPD-2D,P344,VEHICLE ON PRIVATE/PUBLIC PROPERTY WITHOUT CON...,100 MICHIGAN AVE NE,,250.0,250.0,399463.0,139951.0,38.927,-77.006,146162.0,2018-08-07,02:45:00

In [78]:
parking_violations.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3699 entries, 1 to 6730
Data columns (total 18 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   ISSUE_DATE            3699 non-null   object
 1   ISSUE_TIME            3699 non-null   object
 2   ISSUING_AGENCY_CODE   3699 non-null   int64
 3   ISSUING_AGENCY_NAME   3699 non-null   object
 4   ISSUING_AGENCY_SHORT  3699 non-null   object
 5   VIOLATION_CODE        3699 non-null   object
 6   VIOLATION_PROC_DESC   3589 non-null   object
 7   LOCATION              3696 non-null   object
 8   PLATE_STATE           3698 non-null   object
 9   FINE_AMOUNT           3568 non-null   float64
 10  TOTAL_PAID            3698 non-null   float64
 11  XCOORD                3531 non-null   float64
 12  YCOORD                3531 non-null   float64
 13  LATITUDE              3531 non-null   float64
 14  LONGITUDE             3531 non-null   float64
 15  MAR_ID                3531 non-null   float64
 16  FORMAT_DATE           3699 non-null   object
 17  FORMAT_TIME           3699 non-null   object
dtypes: float64(7), int64(1), object(10)
memory usage: 549.1+ KB

In [79]:
parking_violations.to_csv('../data/sample/August_2018.csv', index=False)